<template>
  <q-page class="flex flex-center">
    <h5>{{ message }}</h5>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      message: 'I love Vue.js!'
    }
  }
}
</script>
