<template>
  <div>
    <input type="text" v-model="message">
    <button @click="toggleMessage">Show / Hide</button>
    <p v-show="showMessage">{{message}}</p>
  </div>
</template>

<script>
export default {
  data() {
    return {
      message: "I love Vue.js",
      showMessage: true
    }
  },
  methods: {
    toggleMessage() {
      this.showMessage = !this.showMessage
      this.message = 'Massage was reset'
    }
  }
}
</script>

<style>
</style>
